@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

 nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }


.titulo{
    margin-top: 6%;
      font-size: 3em;
  }
  .introduccion{
    margin-top: 4%;
    margin-left: 25%;
  width: 50%;
  height:auto;
  text-align: justify;
  }
  .origen{
    margin-left: -3%;
    padding: 2%;
  }

  .img{
      margin-left: 25%;
      width: 60%;
  }